:root {
    --color3: var #2e2020;
}

.contact-box {
    height: 280px;
    background-color: #F3F3F3;
    margin-bottom: 100px;
}

.round {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    transform: translateY(-50%);
    box-shadow: 0 0 20px rgba(88, 87, 87, 0.5);

}

.round-img {
    position: absolute;
    top: 26%;
    left: 26%;
    transition: 9s ease-in-out;
}

.contact-box:hover .round-img {
    animation: round-img .9s ease-in-out infinite;
}

@keyframes round-img {

    0%,
    100% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }
}

.green {
    width: 60px;
    height: 60px;
}

.text-box {
    padding: 0 10%;

}

.text-box a {
    font-family: "Cormorant Garamond", sans-serif;
    color: var(--color3);
    font-size: 20px;
    text-decoration: none;
}

.text-box p {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
    color: var(--color3);
    text-decoration: none;
}


.contact-title {
    margin: 0 0 10% 10%;
}

.contact-title h1 {
    font-family: "Cormorant Garamond", sans-serif;
    columns: var(--color3);
    font-weight: 700;
    font-size: 45px;

}

.text-end {
    margin: 0;
    text-align: right !important;
}

.link.active {
    padding: 5px 5px 5px 5px;
    background-color: #91B40D;
    color: #fff;
    border-radius: 5%;
}

.contact-loqo.sticky{
    color: #fff !important;
    background:url(/img/whiteloqomela.png);
}

/* .row>* {
    padding-right: 0;
} */




.nav-line {
    width: 100%;
    color: #FFBF00;
    opacity: 1;
    padding: 4px;
    position: absolute;
    top: 80%;
    left: 0%;
}



.downlink {
    font-size: 22px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s ease;
    list-style-type: none;
    margin-left: 30px;

}

.downlink:hover {
    color: #FFBF00;

    transition: .5s ease;
}

.navbar-brand-down {
    width: 105px;

}


.nav-links {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    transition: .5s ease;
    list-style-type: none;
    font-family: "Cormorant Garamond", sans-serif;
}